@model CSStudent.Models.StudentModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpGraduation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpGraduation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditsLeft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditsLeft)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Advisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Advisor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
